.page{
    min-width: 1440px;
    height: 6411px;
    margin: 0;
}
.header{
border-style: solid;
}
.header__navigation-logo{
max-width: 1200px;
height: 90px;
display: flex;
justify-content: space-between;
align-items: center;
border-style: solid;
position: relative;
left: 120px;
color:red;
}
.header__logo{
margin: 0;
color: #1B1A1A;
font-family: Poppins;
position: relative;
left: 32px;
}
.header__navigation{
color: blueviolet;
text-decoration: none;
}
.template-link{
 color: brown;
 text-decoration: none;   
}
.header__navigationfirst{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
    right: 20px;
}
.readmore{
    background-color: #ECE7E4;
    display: flex;
    justify-content: space-between;
}
.readmore__content{
    width: 600px;
    height: 566px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;    
}
.readmore__title{
    width: 190px;
    height: 20px;
    font-family: Poppins;
    color: #645C55;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    top: 60px;
    letter-spacing: 2px;
}
.readmore__subtitle{
    width: 417px;
    height: 212px;
    font-family: Poppins;
    color: #1B1A1A;
    font-size: 64px;
}
.readmore__text{
    width: 509px;
    height: 120px;
    font-family: Poppins;
    color: #403E3B;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 18px;
}
.readmore__link{
    width: 133px;
    height: 46px;
    font-family: Poppins;
    text-decoration: none;
    color:#645C55;
    position: relative;
    left: 30px;
}
.ourfirm{

}
.ourfirm__content{
    margin-bottom: 88px;
    display: flex;
    width: 768px;
    height: 582px;
    justify-content: center;
    position: relative;
    left: 400px;
    top: 100px;
    right: 336px;
    bottom: 336px;
}
.ourfirm__title{
    margin: 0;
    font-family: oppins;
    width: 134px;
    height: 38px;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    position: relative;
    right: 132px;
    bottom: 15px;
}
.ourfirm__text{
    font-family: Poppins;
    width: 493px;
    height: 144px;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    bottom: 25px;
}
.ourfirm__whodid{
    display: flex;
    position: relative;
    bottom: 28px;
}
.ourfirm__prodby{
    display: flex;
    margin: 0;
    align-items: center;
    position: relative;
    left: 31px;
    bottom: 19px;
    font-family: Poppins;  
}
.ourfirm__senior{
    display: flex;
    align-items: center;
    position: relative;
    right: 90px;
    font-family: Poppins;
    font-size: 14px;
}
.ourfirm__img{
    margin: 0;
}
.house__section{
    width: 1440px;
    height: 600px;
    position: relative;
    top: 100px;
}
.house__container{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1080px;
}
.house__title{
    width: 137px;
    height: 20px;
    color: #403E3B;
    margin: 0;
    font-family: Poppins;
font-weight: 400px;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
}
.house__subtitle{
    font-family: Poppins;
    width: 285px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
    margin: 0;
}
.house__image{
}

.process__section{
display: flex;
width: 1440px;
height: 600px;
position: relative;
top: 100px;
}
.process__container{
width: 1200px;
height: 381px;
position: relative;
top: 100px;
left: 120px;
}
.process__main__titles{
   width: 600px;
   height: 82px;
   position:relative;
   left: 300px;
}
.process__title{
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: poppins;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #645C55;
}

.process__subtitle{
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-size: 39px;
    line-height: 42px;
    margin: 0;
    position: relative;
    top: 17px;
    color: #1B1A1A;
}
.process__goals{
    display: flex;
    justify-content: space-around;
    width: 1168px;
    height: 259px;
    
    position: relative;
    left: 16px;
    top: 40px;
}
.process__sketching__title{
left: 145px;
font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #403E3B;
}
.process__sketching__subtitle{
font-family: Poppins;
font-size: 15px;
line-height: 24px;
width: 294px;
height: 96px;
text-align: center;
margin: 0;
color: #645C55;
}
.process__Finalizing__title{
left: 149.33px;
font-family: Poppins;
font-weight: 400;
font-size: 17px;
line-height: 26px;
text-align: center;
color: #403E3B;
}
.process__Finalizing__subtitle{
width: 292px;
height: 72px;
font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #645C55;
}
.process__Building__title{
left: 154.66px;
font-family: Poppins;
font-weight: 400;
font-size: 17px;
line-height: 26px;
text-align: center;
color: #403E3B;
}
.process__Building__subtitle{
width: 285px;
height: 96px;
font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
margin: 0;
color: #645C55;
}
.process__text{
    display: flex;
    align-items: end;
    gap: 100px;
    position: relative;
    bottom: 10px;
}
.process__sketching__img{
position: relative;
left: 83px;
top: 13px;
}
.process__Finalizing__img{
position: relative;
left: 83px;
top: 5px;
}
.process__Building__img{
position: relative;
left: 83px;
top: 13px;
}

.marble__section{
    width: 1440px;
    height: 600px;
    position: relative;
    top: 80px;
}
.marble__container{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1080px;
}
.marble__title{
    font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
margin: 0;
}
.marble__subtitle{
    font-family: Poppins;
    width: 285px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
    margin: 0;
}

.customers__section{
display: flex;
width: 1440px;
height: 410px;
background-color:#403E3B ;
position: relative;
top: 80px;
}
.customers__container{
width: 1168px;
height: 290px;
left: 136px;
}
.customers__title{
    font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
width: 129px;
height: 20px;
color: #ECE7E4;
margin: 0;
}
.customers__subtitle{
    font-family: Poppins;
font-weight: 400;
font-size: 32px;
line-height: 38px;
letter-spacing: 0%;
width: 299px;
height: 38px;
margin: 0;
color: #FFFFFF;
}
.customers__text{
    font-family: Poppins;
font-weight: 400;
font-size: 15px;
line-height: 24px;
letter-spacing: 0%;
width: 451px;
height: 72px;
color: #ECE7E4;
}
.customers__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 70px;
}
.customers__logos{
    display: flex;
width: 432px;
height: 290px;
position: relative;
right: 280px;
top: 60px;
justify-content: space-between;
align-content: space-between;
flex-wrap: wrap;
}
.customers__images {
  width: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 78px;
}

.customers__images img {
  width: 45%; 
}

.swirling__section{
    width: 1440px;
    height: 600px;
    position: relative;
    top: 80px;
}
.swirling__container{
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 60px;
}
.swirling__title{
    font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
margin: 0;
}
.swirling__subtitle{
    font-family: Poppins;
    width: 285px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
    margin: 0;
}

.projects__section{
width: 1440px;
height: 918px;
position: relative;
top: 80px;
display: flex;
background-color: #F7F7F7;
}
.projects__container{
    
    width: 1200px;
height: 698px;
position: relative;
top: 120px;
left: 120px;
}
.projects__titles{
    position: relative;
    width: 600px;
height: 112;
left: 16px;

}
.projects__main__title{
margin: 0;
font-family: Poppins;
font-weight: 400;
font-size: 39px;
line-height: 42px;
letter-spacing: 0%;
position: relative;
width: 581px;
height: 60px;
bottom: 2px;
}
.projects__subtitle{
margin: 0;
font-family: Poppins;
font-weight: 400px;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;
position: relative;
width: 581px;
height: 60px;
bottom: 10px;
color: #645C55;
}
.projects__project{
    display: flex;
    width: 1168px;
height: 460;
top: 36px;
left: 16px;
position: relative;
gap: 16px;
justify-content: space-between;
}
.projects__titles__newyork{
    position: absolute;
    width: 207px;
height: 50px;
top: 40px;
left: 438px;
}
.projects__title__newyork{
font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
margin: 0;
color: #645C55;
}
.projects__subtitle__road{
font-family: Poppins;
font-weight: 400;
font-size: 23px;
line-height: 30px;
letter-spacing: 0%;
margin: 0;
color: #403E3B;
}
.projects__button{
position: absolute;
top: 369px;
left: 442px;
}
.projects__button__link{
    font-family: Poppins;
font-weight: 400px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.4px;
color: #FFFFFF;
width: 93px;
height: 24px;
margin: 0;
background-color: #1B1A1A;
border-radius: 115px;
padding-left: 20px;
padding-right: 20px;
padding-top: 11px;
padding-bottom: 11px;
text-decoration: none;
}
.projects__link{
    position: absolute;
width: 180px;
height: 46px;
top: 665px;
left: 535px;
}
.projects__button__link__all{
    font-family: Poppins;
font-weight: 400px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.4px;
text-align: center;
text-decoration: none;
color: #1B1A1A;
}
.team__section{
position: relative;
width: 1440px;
height: 592px;
top: 80px;
}
.team__container{
    display: flex;
    width: 1168px;
height: 392px;
position: relative;
left: 136px;
top: 100px;
}
.team__titles{
    background-color: brown;
    width: 378.65625px;
height: 392px;
}
.team__title__main{
font-family: Poppins;
font-weight: 400px;
font-size: 32px;
line-height: 38px;
letter-spacing: 0%;
color: #403E3B;
margin: 0;
width: 240px;
height: 38px ;
top: -4px;
}
.team__sbutitle{
font-family: Poppins;
font-weight: 400px;
font-size: 15px;
line-height: 24px;
letter-spacing: 0%;
color: #645C55;
width: 358px;
height: 72px;
top: 48px;
}
.team__link{
font-family: Poppins;
font-weight: 400px;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.4px;
position: relative;
width: 81px;
height: 24px;
top: 21px;
left: 20px;
text-decoration: none;
color: #1B1A1A;
}
.team__people{
width: 773.328125px;
height: 392px;
left: 394.67px;
background-color: blueviolet;
}